Aula 17 parte 2.py
aula 17.py
Aula 19.py
aula 20.py
aula 21.py
aula 22.py
aula de listas.py
aula23.py
classes_ex.py
classes.py
enviaremail.py
Filas.py
lala.py
linkedlist.py
listaencadeada.py
Pilhas.py
sudoku.py
Tupla.py
.idea
__pycache__
venv
.vscode
ex003.py
